In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import scipy

In [3]:
books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

In [4]:
users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

In [5]:
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

In [6]:
len(books['bookTitle'].unique())

242135

In [7]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [8]:
books=books.drop(['imageUrlS', 'imageUrlM', 'imageUrlL'],1)

In [9]:
users.shape

(278858, 3)

In [10]:
users.head()

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [11]:
ratings.shape

(1149780, 3)

In [12]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [13]:
rating_count = pd.DataFrame(ratings.groupby('ISBN')['bookRating'].count())

In [14]:
rating_count.sort_values('bookRating', ascending=False).head()

            bookRating
ISBN
0971880107        2502
0316666343        1295
0385504209         883
0060928336         732
0312195516         723

In [15]:
highly_rated = pd.DataFrame(['0971880107', '0316666343', '0385504209', '0060928336', '0312195516'], index=np.arange(5), columns = ['ISBN'])
rated = pd.merge(highly_rated, books, on='ISBN')

In [16]:
rated

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0971880107,Wild Animus,Rich Shapero,2004,Too Far
1,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
2,0385504209,The Da Vinci Code,Dan Brown,2003,Doubleday
3,0060928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,Perennial
4,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA

In [17]:
average_rating = pd.DataFrame(ratings.groupby('ISBN')['bookRating'].mean())
average_rating['ratingCount'] = pd.DataFrame(ratings.groupby('ISBN')['bookRating'].count())
average_rating.sort_values('ratingCount', ascending=False).head()

            bookRating  ratingCount
ISBN
0971880107    1.019584         2502
0316666343    4.468726         1295
0385504209    4.652322          883
0060928336    3.448087          732
0312195516    4.334716          723

In [18]:
counts1 = ratings['userID'].value_counts()
ratings = ratings[ratings['userID'].isin(counts1[counts1 >= 50].index)]
counts = ratings['bookRating'].value_counts()
ratings = ratings[ratings['bookRating'].isin(counts[counts >= 50].index)]

In [19]:
ratings_pivot = ratings.pivot(index='userID', columns='ISBN').bookRating
userID = ratings_pivot.index
ISBN = ratings_pivot.columns
print(ratings_pivot.shape)
ratings_pivot.head()

(3427, 266024)

ISBN,0330299891,0375404120,0586045007,9022906116,9032803328,9044922564,9044922572,9044922718,9044923161,904492401X,...,ZR903CX0003,"\0432534220\""""","\2842053052\""""","\8887517452\""""","\8888809228\""""",`3502103682,b00005wz75,cn108465,cn113107,Ô½crosoft
userID,,,,,,,,,,,,,,,,,,,,,
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
bones_ratings = ratings_pivot['0316666343']
similar_to_bones = ratings_pivot.corrwith(bones_ratings)
corr_bones = pd.DataFrame(similar_to_bones, columns=['pearsonR'])
corr_bones.dropna(inplace=True)
corr_summary = corr_bones.join(average_rating['ratingCount'])
corr_summary[corr_summary['ratingCount']>=300].sort_values('pearsonR', ascending=False).head(10)

            pearsonR  ratingCount
ISBN
0316666343  1.000000         1295
0446672211  0.385383          585
0671021001  0.326008          468
0385265700  0.323991          319
0446610038  0.311370          391
0060930535  0.308647          494
0345342968  0.294593          321
0316601950  0.289372          568
068484477X  0.254179          341
043935806X  0.247458          334

In [21]:
books_corr_to_bones = pd.DataFrame(['0446672211', '0671021001', '0385265700', '0446610038', '0060930535', '0345342968', '0316601950', '068484477X', '043935806X'], 
                                  index=np.arange(9), columns=['ISBN'])
corr_books = pd.merge(books_corr_to_bones, books, on='ISBN')
corr_books

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0446672211,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998,Warner Books
1,0671021001,She's Come Undone (Oprah's Book Club),Wally Lamb,1998,Pocket
2,0385265700,The Book of Ruth (Oprah's Book Club (Paperback)),Jane Hamilton,1990,Anchor
3,0446610038,1st to Die: A Novel,James Patterson,2002,Warner Vision
4,0060930535,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial
5,0345342968,Fahrenheit 451,RAY BRADBURY,1987,Del Rey
6,0316601950,The Pilot's Wife : A Novel,Anita Shreve,1999,Back Bay Books
7,068484477X,STONES FROM THE RIVER,Ursula Hegi,1997,Touchstone
8,043935806X,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic

In [24]:
combine_book_rating = pd.merge(ratings, books, on='ISBN')
columns = ['yearOfPublication', 'publisher', 'bookAuthor']
combine_book_rating = combine_book_rating.drop(columns, axis=1)
combine_book_rating.head()

   userID        ISBN  bookRating                                bookTitle
0  276847  0446364193           0  Along Came a Spider (Alex Cross Novels)
1  278418  0446364193           0  Along Came a Spider (Alex Cross Novels)
2    5483  0446364193           0  Along Came a Spider (Alex Cross Novels)
3    7346  0446364193           0  Along Came a Spider (Alex Cross Novels)
4    8362  0446364193           0  Along Came a Spider (Alex Cross Novels)

In [25]:
combine_book_rating = combine_book_rating.dropna(axis = 0, subset = ['bookTitle'])

book_ratingCount = (combine_book_rating.
     groupby(by = ['bookTitle'])['bookRating'].
     count().
     reset_index().
     rename(columns = {'bookRating': 'totalRatingCount'})
     [['bookTitle', 'totalRatingCount']]
    )
book_ratingCount.head()

                                           bookTitle  totalRatingCount
0   A Light in the Storm: The Civil War Diary of ...                 4
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Ask Lily (Young Women of Faith: Lily Series, ...                 1
4   Beyond IBM: Leadership Marketing and Finance ...                 1

In [26]:
rating_with_totalRatingCount = combine_book_rating.merge(book_ratingCount, left_on = 'bookTitle', right_on = 'bookTitle', how = 'left')
rating_with_totalRatingCount.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount
0,276847,0446364193,0,Along Came a Spider (Alex Cross Novels),198
1,278418,0446364193,0,Along Came a Spider (Alex Cross Novels),198
2,5483,0446364193,0,Along Came a Spider (Alex Cross Novels),198
3,7346,0446364193,0,Along Came a Spider (Alex Cross Novels),198
4,8362,0446364193,0,Along Came a Spider (Alex Cross Novels),198

In [27]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(book_ratingCount['totalRatingCount'].describe())

count   199187.000
mean         3.532
std         10.543
min          1.000
25%          1.000
50%          1.000
75%          3.000
max        852.000
Name: totalRatingCount, dtype: float64

In [28]:
print(book_ratingCount['totalRatingCount'].quantile(np.arange(.9, 1, .01)))

0.900    6.000
0.910    7.000
0.920    7.000
0.930    8.000
0.940    9.000
0.950   11.000
0.960   13.000
0.970   17.000
0.980   23.000
0.990   39.000
Name: totalRatingCount, dtype: float64

In [29]:
popularity_threshold = 50
rating_popular_book = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_book.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount
0,276847,0446364193,0,Along Came a Spider (Alex Cross Novels),198
1,278418,0446364193,0,Along Came a Spider (Alex Cross Novels),198
2,5483,0446364193,0,Along Came a Spider (Alex Cross Novels),198
3,7346,0446364193,0,Along Came a Spider (Alex Cross Novels),198
4,8362,0446364193,0,Along Came a Spider (Alex Cross Novels),198

In [30]:
combined = rating_popular_book.merge(users, left_on = 'userID', right_on = 'userID', how = 'left')

us_canada_user_rating = combined[combined['Location'].str.contains("usa|canada")]
us_canada_user_rating=us_canada_user_rating.drop('Age', axis=1)
us_canada_user_rating.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
1,278418,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"omaha, nebraska, usa"
3,7346,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"sunnyvale, california, usa"
4,8362,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"los angeles, california, usa"
6,11400,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"ottawa, ontario, canada"
8,14521,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"providence, rhode island, usa"

In [31]:
us_canada_user_rating.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
1,278418,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"omaha, nebraska, usa"
3,7346,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"sunnyvale, california, usa"
4,8362,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"los angeles, california, usa"
6,11400,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"ottawa, ontario, canada"
8,14521,0446364193,0,Along Came a Spider (Alex Cross Novels),198,"providence, rhode island, usa"

In [32]:
us_canada_user_rating.to_csv('wine.csv',index=False)

In [33]:
len(us_canada_user_rating.bookTitle)

119421

In [34]:
from scipy.sparse import csr_matrix

In [35]:
us_canada_user_rating = us_canada_user_rating.drop_duplicates(['userID', 'bookTitle'])
us_canada_user_rating_pivot = us_canada_user_rating.pivot(index = 'bookTitle', columns = 'userID', values = 'bookRating').fillna(0)
us_canada_user_rating_matrix = csr_matrix(us_canada_user_rating_pivot.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(us_canada_user_rating_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [36]:
query_index = np.random.choice(us_canada_user_rating_pivot.shape[0])
distances, indices = model_knn.kneighbors(us_canada_user_rating_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 6)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(us_canada_user_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, us_canada_user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for The Princess Diaries:

1: Princess in the Spotlight (The Princess Diaries, Vol. 2), with distance of 0.32053406135353657:
2: Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson, with distance of 0.8053614929641248:
3: The First Wives Club Movie Tie In, with distance of 0.8307731259033311:
4: Stargirl, with distance of 0.8325397351023146:
5: Fatal Voyage, with distance of 0.8699647472744891:

In [37]:
us_canada_user_rating_pivot2 = us_canada_user_rating.pivot(index = 'userID', columns = 'bookTitle', values = 'bookRating').fillna(0)
us_canada_user_rating_pivot2.head()

bookTitle,1984,1st to Die: A Novel,2010: Odyssey Two,204 Rosewood Lane,24 Hours,2nd Chance,4 Blondes,84 Charing Cross Road,A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper)),A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash,...,Women Who Run with the Wolves,"Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players",Writ of Execution,Wuthering Heights,Wuthering Heights (Penguin Classics),Year of Wonders,You Belong To Me,Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,Zoya,"\O\"" Is for Outlaw"""
userID,,,,,,,,,,,,,,,,,,,,,
243,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
254,9.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
507,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
638,0.000,0.000,0.000,0.000,0.000,9.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
741,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [38]:
X = us_canada_user_rating_pivot2.values.T
X.shape

(1388, 2431)

In [39]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12, random_state=17)
matrix = SVD.fit_transform(X)
matrix.shape

(1388, 12)

In [40]:
corr = np.corrcoef(matrix)
corr.shape

(1388, 1388)

In [41]:
us_canada_book_title = us_canada_user_rating_pivot2.columns
us_canada_book_list = list(us_canada_book_title)

In [42]:
us_canada_book_list

['1984',
 '1st to Die: A Novel',
 '2010: Odyssey Two',
 '204 Rosewood Lane',
 '24 Hours',
 '2nd Chance',
 '4 Blondes',
 '84 Charing Cross Road',
 'A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
 'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
 'A Bend in the Road',
 'A Case of Need',
 'A Child Called \\It\\": One Child\'s Courage to Survive"',
 'A Civil Action',
 'A Confederacy of Dunces (Evergreen Book)',
 'A Cry In The Night',
 'A Dangerous Fortune',
 'A Darkness More Than Night',
 'A Day Late and a Dollar Short',
 'A Density of Souls',
 'A Fine Balance',
 'A Girl Named Zippy: Growing Up Small in Mooreland Indiana (Today Show Book Club #3)',
 'A Great Deliverance',
 'A Heartbreaking Work of Staggering Genius',
 'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
 'A Knight in Shining Armor',
 'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
 'A Light in the Window (The Mitford Years)',
 'A Little Princess',
 'A Man Named Dave: A Story of Triumph and Forgiveness',
 'A Man in Full',
 'A Map of the World',
 'A Painted House',
 'A Patchwork Planet',
 'A Place Called Freedom',
 'A Portrait of the Artist As a Young Man',
 'A Prayer for Owen Meany',
 'A Separate Peace',
 'A Simple Plan',
 'A Son of the Circus',
 'A Theory of Relativity',
 'A Thief of Time (Joe Leaphorn/Jim Chee Novels)',
 'A Thin Dark Line (Mysteries &amp; Horror)',
 "A Thousand Acres (Ballantine Reader's Circle)",
 'A Time to Kill',
 'A Tree Grows in Brooklyn',
 "A Virtuous Woman (Oprah's Book Club (Paperback))",
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail (Official Guides to the Appalachian Trail)',
 'A Walk to Remember',
 'A Widow for One Year',
 'A Wrinkle In Time',
 'A Wrinkle in Time',
 'A Year in Provence',
 'AGE OF INNOCENCE (MOVIE TIE-IN)',
 "ANGELA'S ASHES",
 'Abduction',
 'About a Boy',
 'About a Boy (Movie Tie-In)',
 'Absolute Power',
 'Acceptable Risk',
 'Accident',
 'Adventures of Huckleberry Finn',
 'Affinity',
 'After All These Years',
 'After Dark',
 'After the Fire',
 "Ahab's Wife: Or, The Star-Gazer: A Novel",
 'Airframe',
 'Alaska',
 'Alias Grace',
 'All Around the Town',
 'All Creatures Great and Small',
 'All I Need Is You',
 'All I Really Need to Know',
 'All That Remains (Kay Scarpetta Mysteries (Paperback))',
 'All Things Wise and Wonderful',
 'All the Pretty Horses (The Border Trilogy, Vol 1)',
 'Along Came a Spider (Alex Cross Novels)',
 'American Gods',
 'American Psycho (Vintage Contemporaries)',
 'Amy and Isabelle : A novel',
 'An Instance of the Fingerpost',
 'And Ladies of the Club',
 'And Then There Were None',
 'And Then You Die',
 'Angel',
 'Angel Falls',
 "Angela's Ashes (MMP) : A Memoir",
 "Angela's Ashes: A Memoir",
 'Angelas Ashes',
 'Angels',
 'Angels &amp; Demons',
 'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
 'Animal Dreams',
 'Animal Farm',
 'Animal Husbandry',
 'Anne Frank: The Diary of a Young Girl',
 'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Anne of Windy Poplars (Anne of Green Gables Novels (Paperback))',
 'Anne of the Island',
 'Answered Prayers',
 'Apollyon: The Destroyer Is Unleashed (Left Behind No. 5)',
 "Are You There God?  It's Me, Margaret",
 'Artemis Fowl (Artemis Fowl, Book 1)',
 'Ashes to Ashes',
 'At Home in Mitford (The Mitford Years)',
 'At Risk',
 'Atlantis Found',
 'Atlas Shrugged',
 'Atonement : A Novel',
 'Atonement: A Novel',
 'Awakening',
 'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
 'Back Roads',
 "Back When We Were Grownups : A Novel (Ballantine Reader's Circle)",
 'Back When We Were Grownups: A Novel',
 'Bad Love (Alex Delaware Novels (Paperback))',
 'Bag of Bones',
 'Balzac and the Little Chinese Seamstress : A Novel',
 'Basket Case',
 'Bastard Out of Carolina',
 'Beach House',
 'Beach Music',
 'Bee Season: A Novel',
 'Before I Say Good-Bye',
 'Behind the Scenes at the Museum : A Novel',
 'Bel Canto: A Novel',
 'Belinda',
 'Beloved',
 'Beloved (Plume Contemporary Fiction)',
 'Betrayal in Death',
 'Between Friends',
 'Beyond Eden',
 "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)",
 'Big Stone Gap',
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
 'Big Trouble',
 'Billy Straight : A Novel',
 'Birthright',
 'Bittersweet',
 'Black Friday',
 'Black House',
 'Black Notice',
 'Black and Blue',
 'Black and Blue : A Novel',
 'Bleachers',
 'Blessings',
 'Blindsight',
 'Blindsighted',
 'Blood Work',
 'Bloodsucking Fiends: A Love Story',
 'Bloody Bones (Anita Blake Vampire Hunter (Paperback))',
 'Blow Fly: A Scarpetta Novel',
 'Blue Diary',
 'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
 'Body of Lies',
 'Bookends : A Novel',
 'Border Music',
 'Born in Fire',
 'Born in Ice',
 'Born in Shame',
 "Boy's Life",
 'Brave New World',
 'Brazen Virtue',
 'Breath, Eyes, Memory',
 'Breathing Lessons',
 'Bridge to Terabithia',
 'Bridget Jones : The Edge of Reason',
 "Bridget Jones's Diary",
 'Bridget Jones: The Edge of Reason',
 'By the Light of the Moon',
 'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
 "CAT'S EYE",
 'Call of the Wild',
 'Can You Keep a Secret?',
 'Cane River',
 'Capital Crimes',
 'Carnal Innocence',
 'Carolina Moon',
 'Carrie',
 'Cat &amp; Mouse (Alex Cross Novels)',
 "Cat's Cradle",
 "Cat's Eye",
 'Catch 22',
 'Catch Me If You Can: The True Story of a Real Fake',
 'Catering to Nobody',
 'Cause Celeb',
 'Cause of Death',
 'Certain Prey',
 'Changes',
 'Charlie and the Chocolate Factory',
 "Charlotte's Web",
 "Charlotte's Web (Trophy Newbery)",
 'Charming Billy',
 'Chasing the Dime',
 "Chicken Soup for the Pet Lover's Soul (Chicken Soup for the Soul)",
 'Chicken Soup for the Soul (Chicken Soup for the Soul)',
 'Chicken Soup for the Teenage Soul (Chicken Soup for the Soul)',
 "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
 "Childhood's End",
 'Children of Dune (Dune Chronicles, Book 3)',
 'Chocolat',
 'Choke',
 'Chosen Prey',
 'Christine',
 'Christmas Box (Christmas Box Trilogy)',
 'Christy',
 'Chromosome 6',
 'Circle of Friends',
 'Circus of the Damned (Anita Blake Vampire Hunter (Paperback))',
 'City of Bones',
 'Clear and Present Danger',
 'Clear and Present Danger (Jack Ryan Novels)',
 'Cloud Nine',
 'Coast Road: A Novel',
 'Code to Zero',
 'Cold Fire',
 'Cold Mountain',
 'Cold Mountain : A Novel',
 'Cold Sassy Tree',
 'Colony',
 'Color Purple',
 'Come to Grief',
 'Coming Home',
 'Communion : A True Story',
 'Confessions of a Shopaholic (Summer Display Opportunity)',
 'Confessions of an Ugly Stepsister : A Novel',
 'Congo',
 'Considering Kate (The Stanislaskis) (Silhouette Special Edition)',
 'Contact',
 'Contagion',
 'Coraline',
 "Cordina's Crown Jewel",
 "Corelli's Mandolin : A Novel",
 'Couplehood',
 'Courting Trouble',
 'Cradle and All',
 'Crazy for You',
 'Critical Judgment',
 'Critical Mass',
 'Crocodile on the Sandbank',
 'Crossings',
 'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))',
 'Cry Wolf',
 'Cry to Heaven',
 'Cryptonomicon',
 'Cujo',
 'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
 'Daddy',
 "Daddy's Little Girl",
 'Daisy Fay and the Miracle Man',
 'Dance upon the Air (Three Sisters Island Trilogy)',
 'Dances With Wolves',
 'Dangerous',
 'Dark Angel',
 'Dark Horse',
 'Dark Lady',
 'Dark Paradise',
 'Dark Rivers of the Heart',
 'Darkest Hour (Cutler)',
 'Darkfall',
 'Darkness',
 'Dating Big Bird',
 'Daughter of Fortune',
 "Daughter of Fortune : A Novel (Oprah's Book Club (Hardcover))",
 'Daughter of Fortune: A Novel',
 'Dawn (Cutler)',
 'Dead Aim',
 'Dead Run',
 'Dead Sleep',
 'Deadly Decisions',
 'Death du Jour',
 'Debt of Honor (Jack Ryan Novels)',
 'Deception Point',
 'Deception on His Mind',
 'Deck the Halls (Holiday Classics)',
 'Degree of Guilt',
 'Deja Dead',
 'Demon Seed',
 'Desecration: Antichrist Takes the Throne (Left Behind No. 9)',
 'Desperation',
 'Devices and Desires',
 "Devil's Waltz (Alex Delaware Novels (Paperback))",
 'Diary of a Mad Bride (Summer Display Opportunity)',
 'Different Seasons',
 'Digital Fortress : A Thriller',
 "Dirk Gently's Holistic Detective Agency",
 'Disclosure',
 'Divine Secrets of the Ya-Ya Sisterhood : A Novel',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 'Dolores Claiborne',
 "Don't Stand Too Close to a Naked Man",
 "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
 'Doomsday Book',
 'Downtown',
 "Dr. Atkins' New Diet Revolution",
 'Dr. Death (Alex Delaware Novels (Paperback))',
 'Dragon Tears',
 'Dragonfly in Amber',
 'Dragonsdawn',
 'Dream Country',
 'Dreamcatcher',
 'Drowning Ruth',
 "Drowning Ruth (Oprah's Book Club)",
 'Drums of Autumn',
 "Dude, Where's My Country?",
 'Dune',
 'Dune (Remembering Tomorrow)',
 'Dune Messiah (Dune Chronicles, Book 2)',
 'Dust to Dust',
 'Dying for Chocolate (Culinary Mysteries (Paperback))',
 'Dying to Please',
 'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
 "East of Eden (Oprah's Book Club)",
 'Easy Prey',
 'Eaters of the Dead',
 'Eats, Shoots &amp; Leaves: The Zero Tolerance Approach to Punctuation',
 'Echoes',
 'Eden Close',
 "Einstein's Dreams",
 'Eleventh Hour: An FBI Thriller (FBI Thriller (Jove Paperback))',
 'Ella Minnow Pea: A Novel in Letters',
 'Ellen Foster',
 'Embraced by the Light',
 'Empire Falls',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 'Engaging Men (Red Dress Ink (Paperback))',
 'Engaging The Enemy',
 'Envy',
 'Escape the Night',
 'Eternity',
 'Eva Luna',
 'Even Cowgirls Get the Blues',
 'Evening Class',
 'Every Breath You Take : A True Story of Obsession, Revenge, and Murder',
 "Everything's Eventual : 14 Dark Tales",
 'Exclusive',
 'Executive Orders (Jack Ryan Novels)',
 'Extreme Measures',
 'Eyes of Prey',
 'Eyes of a Child',
 'Eyes of the Dragon',
 'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
 'FIRST WIVES CLUB',
 'FLOOD TIDE',
 'FORREST GUMP (Movie Tie in)',
 'Face the Fire (Three Sisters Island Trilogy)',
 'Fahrenheit 451',
 'Faking It',
 'Fall On Your Knees (Oprah #45)',
 'Falling Angels',
 'False Memory',
 'Family Album',
 'Fast Food Nation: The Dark Side of the All-American Meal',
 'Fast Women',
 'Fat Tuesday',
 'Fatal Cure',
 'Fatal Voyage',
 'Fatherhood',
 'Fear Nothing',
 'Feast of All Saints',
 'Female Intelligence',
 'Fever',
 'Final Target',
 'Find Me',
 'Fine Things',
 'Fingersmith',
 'Firebird',
 'Firefly Beach',
 'Firefly Summer',
 'Firestarter',
 'Five Days in Paris',
 'Five Quarters of the Orange',
 'Flashback',
 'Flesh and Blood',
 'Flowers for Algernon (Bantam Classic)',
 'Fluke : Or, I Know Why the Winged Whale Sings',
 'Follow the Stars Home',
 'For Better, for Worse: A Novel',
 'Forbidden Fruit',
 'Forever... : A Novel of Good and Evil, Love and Hope',
 "Fortune's Hand",
 "Fortune's Rocks : A Novel",
 "Fortune's Rocks: A Novel",
 "Foucault's Pendulum",
 'Four Blind Mice',
 'Four Blondes',
 'Four Past Midnight',
 'Four To Score (A Stephanie Plum Novel)',
 'Franny and Zooey',
 'Fried Green Tomatoes at the Whistle Stop Cafe',
 "From Potter's Field",
 'From a Buick 8 : A Novel',
 'From the Corner of His Eye',
 'From the Heart: Tonight and Always/A Matter of Choice/Endings and Beginnings',
 'Full Circle',
 "Full House (Janet Evanovich's Full Series)",
 "Full Speed (Janet Evanovich's Full Series)",
 "Full Tilt (Janet Evanovich's Full Series)",
 'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
 'GARDEN OF SHADOWS (Dollanger Saga (Paperback))',
 "Galileo's Daughter: A Historical Memoir of Science, Faith, and Love",
 'Gap Creek: A Novel',
 'Gap Creek: The Story Of A Marriage',
 'Gap Creek: The Story of a Marriage',
 'Geek Love',
 'Genuine Lies',
 "Gerald's Game",
 'Get Shorty',
 'Getting Rid Of Bradley',
 'Girl With a Pearl Earring',
 'Girl in Hyacinth Blue',
 'Girl with a Pearl Earring',
 'Girl, Interrupted',
 'Girlfriends: Invisible Bonds, Enduring Ties',
 'Girls Night',
 'Go Ask Alice',
 'God Emperor of Dune (Dune Chronicles, Book 4)',
 'Going Home',
 'Gone But Not Forgotten',
 'Gone for Good',
 'Gone with the Wind',
 'Good Harbor: A Novel',
 'Good Omens',
 'Good in Bed',
 'Gorky Park',
 'Grand Avenue',
 'Granny Dan',
 'Grave Secrets',
 'Griffin &amp; Sabine: An Extraordinary Correspondence',
 'Ground Zero and Beyond',
 'Guardian',
 'Guardian Angel',
 'Guilty Pleasures (Anita Blake Vampire Hunter (Paperback))',
 'Guilty as Sin',
 'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
 'Hannibal',
 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'Hard Time (V.I. Warshawski Novels (Paperback))',
 'Harmful Intent',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 "Harry Potter and the Sorcerer's Stone (Book 1)",
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'Harvest',
 'Haunted',
 "He Sees You When You're Sleeping : A Novel",
 'Heart of the Sea (Irish Trilogy)',
 'Heartbeat',
 'Heartbreaker',
 'Hearts In Atlantis',
 'Hearts in Atlantis',
 'Heaven and Earth (Three Sisters Island Trilogy)',
 'Hemlock Bay',
 'Here on Earth',
 'Hide &amp; Seek',
 'Hideaway',
 'Hiding in the Shadows (Shadows Trilogy (Paperback))',
 'High Fidelity',
 'High Five (A Stephanie Plum Novel)',
 'High Maintenance',
 'High Tide',
 'Holding the Dream (Dream Trilogy)',
 'Holes (Yearling Newbery)',
 'Home Song',
 'Homecoming',
 'Homeport',
 "Hornet's Nest",
 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'House of Leaves',
 'House of Sand and Fog',
 'How Stella Got Her Groove Back',
 'How the Garcia Girls Lost Their Accents (Plume Contemporary Fiction)',
 'How to Be Good',
 'How to Make an American Quilt',
 'I Capture the Castle',
 'I Is for Innocent',
 'I Know This Much Is True',
 "I Know This Much Is True (Oprah's Book Club)",
 'I Know Why the Caged Bird Sings',
 "I'll Be Seeing You",
 "I'll Take Manhattan",
 'Icebound',
 'Icy Sparks',
 'If Looks Could Kill',
 'If Only It Were True',
 'If Tomorrow Comes',
 'Illusions',
 'Imitation in Death (Eve Dallas Mysteries (Paperback))',
 'Impulse',
 'In Her Shoes : A Novel',
 'In Pursuit of the Proper Sinner',
 'In a Sunburned Country',
 'Inner Harbor (Quinn Brothers (Paperback))',
 'Insomnia',
 'Intensity',
 'Interview with the Vampire',
 'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
 'Into the Wild',
 'Invasion',
 'Irish Hearts',
 'Irish Rebel (Special Edition, 1328)',
 'Irresistible Forces',
 'Ishmael: An Adventure of the Mind and Spirit',
 'Island of the Blue Dolphins',
 'Island of the Blue Dolphins (Laurel Leaf Books)',
 'Isle of Dogs',
 'It',
 'It Was on Fire When I Lay Down on It',
 "It's Always Something",
 "It's Not About the Bike: My Journey Back to Life",
 'J Is for Judgment',
 'Jack &amp; Jill (Alex Cross Novels)',
 'Jackdaws',
 'Jacob Have I Loved',
 'James and the Giant Peach',
 'Jane Eyre',
 'Jane Eyre (Bantam Classics)',
 'Jemima J: A Novel About Ugly Ducklings and Swans',
 'Jewel',
 "Jewel (Oprah's Book Club)",
 'Jewels',
 'Jewels of the Sun (Irish Trilogy)',
 'Jonathan Livingston Seagull',
 'Journey',
 'Julie of the Wolves (Julie of the Wolves)',
 'Jurassic Park',
 'K Is for Killer (Kinsey Millhone Mysteries (Paperback))',
 'Kaleidoscope',
 'Key of Knowledge (Key Trilogy (Paperback))',
 'Key of Light (Key Trilogy (Paperback))',
 'Key of Valor (Roberts, Nora. Key Trilogy, 3.)',
 'Killjoy',
 'Kiss the Girls',
 'Kitchen',
 'L Is for Lawless',
 'L Is for Lawless (Kinsey Millhone Mysteries)',
 'Ladder of Years',
 'Lady of Avalon',
 'Lake Wobegon Days',
 'Lake Wobegon days',
 "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
 'Lasher: Lives of the Mayfair Witches (Lives of the Mayfair Witches)',
 'Last Chance Saloon',
 'Last Man Standing',
 'Lawless',
 'Le Divorce (William Abrahams Book)',
 'Leap of Faith',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind #1)",
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'Legacy',
 'Legend',
 'Let Me Call You Sweetheart',
 'Lies and the Lying Liars Who Tell Them: A Fair and Balanced Look at the Right',
 'Life Strategies: Doing What Works, Doing What Matters',
 'Life Support',
 'Life of Pi',
 "Life's Little Instruction Book (Life's Little Instruction Books (Paperback))",
 'Light a Penny Candle',
 'Lightning',
 'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
 'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
 'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies',
 'Lily White',
 'Little Altars Everywhere: A Novel',
 'Little Women',
 'Lolita (Vintage International)',
 'London : The Novel',
 'Long After Midnight',
 'Looking Back',
 'Lord of the Flies',
 'Lost and Found',
 'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
 'Loves Music, Loves to Dance',
 'Lucky',
 'Lucky : A Memoir',
 'Lucky Man: A Memoir',
 'Lucky You',
 'Lucy Sullivan Is Getting Married',
 'M Is for Malice',
 'MY SWEET AUDRINA',
 'Macgregor Brides (Macgregors)',
 'Macgregor Grooms (Macgregors)',
 'Make the Connection: Ten Steps to a Better Body and a Better Life',
 'Malice',
 'Mama Makes Up Her Mind: And Other Dangers of Southern Living',
 'Manhattan Hunt Club',
 'Masquerade',
 'Master of the Game',
 'Matilda',
 'Me Talk Pretty One Day',
 'Melody (Logan)',
 'Memoirs of a Geisha Uk',
 'Memories of Midnight',
 'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
 'Mercy',
 'Message from Nam',
 'Message in a Bottle',
 'Middlesex: A Novel',
 'Midnight',
 'Midnight Bayou',
 'Midnight Whispers (Cutler)',
 'Midnight in the Garden of Good and Evil',
 'Midnight in the Garden of Good and Evil: A Savannah Story',
 'Midwives: A Novel',
 'Milkrun',
 'Mind Prey',
 'Mirror Image',
 'Misery',
 'Miss Julia Speaks Her Mind : A Novel',
 'Mistaken Identity',
 'Mitigating Circumstances',
 'Mixed Blessings',
 'Moment of Truth',
 'Monster : A Novel (Alex Delaware Novels (Paperback))',
 'Monster Blood (Goosebumps, No 3)',
 'Montana Sky',
 'Moo',
 'Moonlight Becomes You',
 'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
 'Morning, Noon &amp; Night',
 'Mortal Fear',
 'Mortal Prey',
 'Mother of Pearl',
 'Move to Strike',
 'Moving Target',
 'Mr. Maybe',
 'Mr. Murder',
 'Mr. Perfect',
 'Mrs Dalloway',
 'Mutant Message Down Under',
 'Mutation',
 'My Gal Sunday',
 'My Side of the Mountain',
 'Mystic River',
 'N Is for Noose',
 'Naked',
 'Naked in Death',
 'Narcissus in Chains (Anita Blake Vampire Hunter (Paperback))',
 'Natural Causes',
 'Needful Things',
 'Nerd in Shining Armor',
 'Neuromancer (Remembering Tomorrow)',
 'Never Change',
 'Neverwhere',
 'Nickel and Dimed: On (Not) Getting By in America',
 'Nicolae: The Rise of Antichrist (Left Behind No. 3)',
 'Night',
 'Night Prey',
 'Night Sins',
 'Night Whispers',
 'Night over Water',
 'Nightmares &amp; Dreamscapes',
 'Nights in Rodanthe',
 'No Greater Love',
 'No One to Trust',
 'No Safe Place',
 'Notes from a Small Island',
 'Nothing Lasts Forever',
 'Now You See Her',
 'Now You See Me',
 'Numbered Account',
 'Obasan',
 'Of Mice and Men (Penguin Great Books of the 20th Century)',
 'Oldest Living Confederate Widow Tells All',
 'On Mystic Lake',
 'On Wings of Eagles',
 'On Writing',
 'On the Road',
 'On the Street Where You Live',
 'On the Street Where You Live : A Novel',
 'Once in a Lifetime',
 'One Door Away from Heaven',
 "One Flew Over the Cuckoo's Nest",
 'One Hundred Years of Solitude',
 "One Hundred Years of Solitude (Oprah's Book Club)",
 'One True Thing',

In [43]:
us_canada_book_title = us_canada_user_rating_pivot2.columns
us_canada_book_list = list(us_canada_book_title)

In [44]:
boook=input("Enter desired book name from the list: ")

Enter desired book name from the list A Dangerous Fortune

In [45]:
if boook in us_canada_book_list:
    corr_book = us_canada_book_list.index(boook)
    print("It is in the list Continue")
else:
    print("Please refer to the list")

It is in the list Continue

In [46]:
corr_book_1  = corr[corr_book]

In [68]:
c=list(us_canada_book_title[(corr_book_1>=0.90)])

In [71]:
print("These are the books that can be reccommended \n", c)

These are the books that can be reccommended
 ['A Dangerous Fortune', 'Critical Mass', 'FIRST WIVES CLUB', 'Plum Island', 'The Simple Truth', 'Valhalla Rising (Dirk Pitt Adventures (Paperback))']